{% extends 'main_templates/base.html' %}

{% block content %}

    <h1>This is my Education</h1>
    {% for edu_item in edu %}
        <h2>{{ edu_item.edu_degree }}</h2>
        <h3>{{ edu_item.edu_institution }}</h3>      
        {% if edu_item.current is True %}
            <h4>From {{ edu_item.start_date|date:"F Y" }} to Present</h4>
        {% else %}
            <h4>From {{ edu_item.start_date|date:"F Y" }} to {{ edu_item.end_date|date:"F Y" }}</h4>
        {% endif %}
    {% endfor %}
{% endblock %}