{% extends 'main_templates/base.html' %}

{% block content %}

    <h2 class="my-4">Professional Experience</h2>
    <div class="offset-1 offset-md-2 col-md-8 col-10 my-4">
        <div class="separator"></div>
    </div>
    {% for work_item in work %}

        <div class="row">
            <div class="offset-md-2 col-md-3 d-flex align-items-center justify-content-md-start justify-content-center my-2">
                <img class="img-fluid" src="{{ work_item.inst_logo }}" />
            </div>
            <div class="col-md-5 d-flex flex-column justify-content-md-start justify-content-center my-2">
                <h2 class="text-center text-md-start">{{ work_item.deg_or_pos }}</h2>
                <div class="d-flex justify-content-md-start justify-content-center">
                    <h3 class="text-center text-md-start">at {{ work_item.inst_name }}.</h3>
                    {% if work_item.company_url %}
                        <a class="body-anchor" href="{{work_item.company_url}}" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt"></i></a>
                    {% endif %}    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-1 offset-md-2 col-10 col-md-4">
                <div class="col-12 d-flex justify-content-md-start justify-content-center">
                    {% if work_item.current is True %}
                        <h4 class="text-center text-md-start">From {{ work_item.start_date|date:"F Y" }} to Present</h4>
                    {% else %}
                        <h4 class="text-center text-md-start">From {{ work_item.start_date|date:"F Y" }} to {{ work_item.end_date|date:"F Y" }}</h4>
                    {% endif %}
                </div>
            </div>
            <div class=" offset-1 offset-md-0 col-10 col-md-4">
                <div class="col-12 d-flex justify-content-md-end justify-content-center">
                    <h4 class="text-center text-md-end">{{ work_item.location_city }}, {{work_item.location_country }}</h4>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="d-flex justify-content-start offset-1 offset-md-2 col-10 col-md-8">
                <h3>Business activity: {{ work_item.company_fow}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="offset-1 offset-md-2 col-10 col-md-8">
                <h4 class="text-start">{% for letter in work_item.job_description %}{%if letter == "." %}{{"."}}<br>{% else %}{{ letter }}{% endif %}{% endfor %}</h4>
            </div>
        </div>    

        {% if not forloop.last %}
            <div class="container-fluid my-4">
                <div class="row">
                    <div class=" offset-md-2 col-md-3 col-5">
                        <div class="separator"></div>
                    </div>
                    <div class="col-2 d-flex justify-content-center">
                        <span class="dot"></span>
                    </div>
                    <div class="col-md-3 col-5">
                        <div class="separator"></div>
                    </div>
                </div>
            </div>
        {% endif %}
    

    {% endfor %}
{% endblock %}