<div class="bg-dark container-fluid">
    <div class="row align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center col-md-8 mt-2">
            <a class="footer-icon" href="{{REPLACE}}" target="_blank" rel="noopener noreferrer"><i class="{{REPLACE}}"></i></a>
            <a class="footer-icon" href="{{REPLACE}}" target="_blank" rel="noopener noreferrer"><i class="{{REPLACE}}"></i></a>
        </div>
    </div>
    <div class="row align-items-center justify-content-center mt-2">
        <div class="col-8 mb-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6 text-center copyright-text d-flex align-items-center justify-content-center">
                        <i class="fas fa-phone fa-2x mx-2"></i>
                        <p class="mt-3">{{REPLACE}}</p>
                    </div>
                    <div class="col-12 col-lg-6 text-center copyright-text d-flex align-items-center justify-content-center">
                            <i class="fas fa-envelope fa-2x mx-2"></i>
                            <p class="mt-3">{{REPLACE}}</p>
                    </div>                     
                </div>
            </div>
            <div class="row">
                <div class="col-8 offset-2 text-center">
                    <p class="copyright-text mb-0">{{user.user_name}} {{user.user_last_name}} © <script>document.write(new Date().getFullYear())</script></p>
                </div>
            </div>
        </div>
    </div>
</div>